body{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {font-size: 66px;font-weight: 600; line-height: 80px;}
h2 {font-size: 48px;margin-bottom: 30px;}
h5{margin-bottom: 0px;}

p{
    font-size: 18 px;
    color: #ffffff;
    line-height: 1.8;
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}

a i{
    font-size: 22px; color: #ffffff;

}
section{
    padding: 120px 0;
}

.bg-ligth-gray{background-color: #f5f5f5;}

.topmargin-xs{ margin-top: 15px;}
.topmargin-sm{ margin-top: 300px;}
.topmargin-lg{ margin-top: 60px;}

.btn{
    font-size: 14px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}
.btn-ligth{
    background-color: #ffffff;
    color: #1a1a1a;
    border: 2px solid #ffffff;
}


.btn i { font-size: 14px; margin-left: 5px;}

.text-dark {color: #1a1a1a;}

.navbar{
    background-color: #ffffff;
    box-shadow:0 2px 4px 0 rgba(0,0,0 .05);
    min-height: 100px;
}

.nav-link{color:#1a1a1a; }
.nav-link:hover { color: #A349A4 ; }

.logo-brand{
    min-width: 120px;
    max-width: 160px;
}

.nav-toggler{ font-size: 40px;}
.navbar-toggler:focus{outline:none; }

#eltumorrou {
    background-image: url('img/Hotel.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: #ffffff;
}


#eltomorrou p{
    color: #ffffff;
}

.content-center{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}

.experiencias-container{
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}

.experiencias-container img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.experiencias-container:hover img{
    -moz-transforms: scale(1,2);
    -webkit-transform: scale(1,2);
    transform: scale(1,2);
}

.experiencias-details{
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000;
}

.experiencias-details h2{
    margin-bottom: 0px;
}
.experiencias-details a h2, .experiencias-details a p{
    color:#ffffff
}

.member-container{
    position: relative;
    margin: 10px 0;
}

.member-details{
    position:absolute;
    color: #ffffff;
    bottom: 0px;
    left: 20px;
}

.member-details span{
    font-size: 14px;
}

.member-details i{
    padding: 0 5px;
}

@media (max-width: 575.98px) { 
    h1{font-size: 40px;line-height: normal;}
}

section{
    padding: 6rem 0;
}

#slider{
    padding: 5rem 0 0 0;
}

.text-ligth{
    color: var(--white) !important;
}
.bg-ligth{
    background-color: var(--white) !important;
}

.bg-ligth-grey{
    background-color: var(--light-grey);
}

.bg-gold{
    background-color: var(--gold);
}

.mt-6{
    margin-top: 4rem;
}

.badge{
    font-weight: 500;
    padding: .5rem 1.5rem;
    line-height: 1.5;
}

.btn{
    padding:.5rem 1.8rem;
    border-radius: .2rem;
}


.btn-secondary{
    background-color: var(--dark);
}

.btn-gold{
    background-color: var(--gold);
    color: var(--dark);
}

.btn-primary{
    background-color: var(--white);
    color: var(--dark);
    border-color: var(--dark);
}

.btn-primary:hover{
    background-color: var(--white);
    color: var(--dark);
    border-color:var(--dark); 
}

.form-control{
    padding: 1rem;
    font-weight: 300;
    border:0;
}

.form-control:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid var(--dark);
}